{% extends 'base.html' %}

{% block content %}

<table class="table table-success table-striped">
    <tr>
        <th>Car</th>
        <th>User</th>
        <th>Date</th>
        <th>Amount($)</th>
        <th>Status</th>
        <th>Status</th>
    </tr> <!--ряд с ячейками заголовков-->
    <tr>
        <td>{{ Order.Car }}</td>
        <td>{{ Order.User }}</td>
        <td>{{ Order.Date }}</td>
        <td>{{ Order.Amount }}</td>
        <td>{{ Order.Status }}</td>
        <td>{{ Order.Status }}</td>
    </tr> <!--ряд с ячейками тела таблицы-->

</table>

{% endblock %}